.product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    padding:20px;
    border-radius: 6px;
}
 
.product-card > .title{
    font-size: 20px;
    font-weight: 600;
}

.product-card > .price{
    font-size: 18px;
    font-weight: 500;
    color: rgb(44, 139, 247);
}