@import 'tailwindcss';

@theme {
    --default-transition-duration: 200ms;
}

@utility container {
  margin-inline: auto; 
  padding-inline: clamp(16px, 4vw, 24px);
 
  @variant md {
    max-width: 768px; 
  }
 
  @variant lg {
    max-width: 1100px; 
  }
 
  @variant xl {
    max-width: 1320px; 
  }
}
