@import 'tailwindcss';

@theme {
    --font-sans: "Poppins", system-ui, sans-serif;
    --default-transition-duration: 200ms;
}

@layer base{
    body{
      @apply font-sans;
    }
}

@utility container {
  margin-inline: auto; 
  padding-inline: clamp(16px, 4vw, 24px);
 
  @variant md {
    max-width: 768px; 
  }
 
  @variant lg {
    max-width: 1100px; 
  }
 
  @variant xl {
    max-width: 1320px; 
  }
}


/*Normal CSS*/

@font-face{
  font-family: "Poppins";
  src: url("./assets/font/poppins-v22-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "Poppins";
  src: url("./assets/font/poppins-v22-latin-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "Poppins";
  src: url("./assets/font/poppins-v22-latin-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "Poppins";
  src: url("./assets/font/poppins-v22-latin-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}