@import 'tailwindcss';

@theme {
    --default-transition-duration: 200ms;
}

@utility container {
    margin-inline: auto;
    padding-inline: 20px;

    @variant sm {
        padding-inline: 40px;
    }

    @variant lg {
        padding-inline: 80px;
    }

    @variant xl {
        padding-inline: 120px;
    }
}